<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Relax</string>
		<key>fishes</key>
		<dict>
			<key>kinds</key>
			<array>
				<dict>
					<key>sprite</key>
					<string>🐠</string>
					<key>speed</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>density</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Beach</string>
		<key>fishes</key>
		<dict>
			<key>kinds</key>
			<array>
				<dict>
					<key>sprite</key>
					<string>🐠</string>
					<key>speed</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sprite</key>
					<string>🐟</string>
					<key>speed</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>density</key>
			<integer>4</integer>
		</dict>
		<key>herbs</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Very deep</string>
		<key>herbs</key>
		<integer>3</integer>
		<key>fishes</key>
		<dict>
			<key>kinds</key>
			<array>
                <dict>
                    <key>sprite</key>
                    <string>🐳</string>
                    <key>speed</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>sprite</key>
                    <string>🐬</string>
                    <key>speed</key>
                    <integer>2</integer>
                </dict>
			</array>
			<key>density</key>
			<integer>5</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Kill em all</string>
		<key>herbs</key>
		<integer>7</integer>
		<key>fishes</key>
		<dict>
			<key>kinds</key>
			<array>
                <dict>
                    <key>sprite</key>
                    <string>🐠</string>
                    <key>speed</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>sprite</key>
					<string>🐡</string>
					<key>speed</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>density</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Run</string>
		<key>run</key>
		<true/>
	</dict>
</array>
</plist>
